html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Courier';
    font-size: 8px;
    letter-spacing: 3px;
    line-height: 8px;
}

div#main {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 100vh;
}

div#main div {
    background-color: #000;
    color: #FFF;
    text-align: center;
}

div#main canvas {
    width: 480px;
    height: 640px;
    color: #FFF;
}